@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Chopin;
  src: url(./assets/fonts/ChopinScript.ttf);
}

.chopin {
  font-family: "Chopin";
}

.borded {
  -webkit-text-stroke: 1px black;
}

.backHome {
  background-image: url(./assets/pics/background-home-bg_adc6fb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 767px) {
  .backHome {
    background-image: url(./assets/pics/background-home2.png);
  }
}

.bg-church {
  background-image: url(./assets/pics/bg-church.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-party {
  background-image: url(./assets/pics/bg-party.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stickyBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
